 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>HOAR (Hydrologists Of Alpine Regions) is a community of snow and mountain hydrology enthusiasts. We embrace all things snow and mountain while striving to create a fun space for science and adventures in Earth's cold and high places.</p>
                </div>
                <div class="col-lg-4">
                    <p>HOAR has no formal membership, but if you would like to link your project or work to us please get in touch via the contact form below. We also have some pretty sweet hats if you want to rep. HOAR in public.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
